export(alpha2kendall)
export(alpha2spear)
export(back2timereg)
export(bicomprisk)
export(binomial.twostage)
export(biprobit)
export(bptwin)
export(casewise.test)
export(casewise)
export(ClaytonOakes)
export(cluster.index)
export(coefmat)
export(concordance)
export(cor.cif)
export(corsim.prostate)
export(cumh)
export(Dbvn)
export(easy.binomial.twostage)
export(easy.twostage)
export(familycluster.index)
export(fast.approx)
export(fast.pattern)
export(fast.reshape)
export(faster.reshape)
export(Grandom.cif)
export(ipw)
export(lifetable)
export(nonparcuminc)
export(npc)
export(or.cif)
export(phreg)
export(piecewise.data)
export(piecewise.twostage)
export(plack.cif)
export(plack.cif2)
export(plotcr)
export(printcasewisetest)
export(random.cif)
export(rr.cif)
export(simBinFam)
export(simBinPlack)
export(simClaytonOakes)
export(simClaytonOakesWei)
export(simCox)
export(simnordic)
export(simSurvFam)
export(simAalenFrailty)
export(surv.boxarea)
export(test.conc)
export(twinlm)
export(twinsim)
export(twostage)
export(aalenfrailty)
import(lava)
import(prodlim)
import(Rcpp)
import(RcppArmadillo)
import(splines)
import(stats)
import(timereg)
S3method(coef,biprobit)
S3method(coef,cor)
S3method(coef,phreg)
S3method(coef,randomcif)
S3method(coef,randomcifrv)
S3method(coef,twinlm.strata)
S3method(coef,twostage)
S3method(compare,twinlm)
S3method(iid,phreg)
S3method(logLik,biprobit)
S3method(logLik,twinlm.strata)
S3method(logLik,twinlm)
S3method(model.frame,twinlm)
S3method(plot,bptwin)
S3method(plot,casewise)
S3method(plot,claytonoakes)
S3method(plot,cumh)
S3method(plot,phreg)
S3method(plot,twinlm.strata)
S3method(plot,twinlm)
S3method(plot,twostage)
S3method(predict,phreg)
S3method(predict,twostage)
S3method(print,biprobit)
S3method(print,claytonoakes)
S3method(print,cor)
S3method(print,cumh)
S3method(print,do.twinlm.strata)
S3method(print,pc.twostage)
S3method(print,phreg)
S3method(print,randomcif)
S3method(print,randomcifrv)
S3method(print,summary.biprobit)
S3method(print,summary.bptwin)
S3method(print,summary.claytonoakes)
S3method(print,summary.cor)
S3method(print,summary.pc.twostage)
S3method(print,summary.phreg)
S3method(print,summary.twinlm)
S3method(print,twinlm.strata)
S3method(print,twinlm)
S3method(print,twostage)
S3method(score,biprobit)
S3method(score,twinlm.strata)
S3method(score,twinlm)
S3method(simulate,bptwin)
S3method(summary,biprobit)
S3method(summary,bptwin)
S3method(summary,casewise)
S3method(summary,claytonoakes)
S3method(summary,cor)
S3method(summary,cumh)
S3method(summary,pc.twostage)
S3method(summary,phreg)
S3method(summary,randomcif)
S3method(summary,randomcifrv)
S3method(summary,twinlm.strata)
S3method(summary,twinlm)
S3method(summary,twostage)
S3method(vcov,biprobit)
S3method(vcov,phreg)
S3method(vcov,twinlm)
useDynLib(mets)
