useDynLib(MultiComp)

import(survival, timereg)

export("rr.cif",
       "cor.cif",
       "or.cif",
       "plack.cif",
       "plack.cif2",
       "random.cif",
       "concordance",
       "Grandom.cif",
       "random.cif2cause")

S3method(summary,cor)
S3method(summary,randomcif)
S3method(summary,randomcifrv)
S3method(coef,cor)
S3method(coef,randomcif)
S3method(coef,randomcifrv)
S3method(print,summary.cor)
S3method(print,cor)
S3method(print,randomcif)
S3method(print,randomcifrv)
export("summary.cor")
export("print.cor")
export("print.summary.cor")
export("print.randomcif")
export("print.randomcifrv")
export("summary.cor")
export("summary.randomcif")
export("summary.randomcifrv")
export("coef.cor")
export("coef.randomcif")
export("coef.randomcifrv")

