useDynLib(MultiComp)

import(survival, timereg)

export("rr.cif","cor.cif","random.cif","random.cif2cause")

S3method(summary,cor)
S3method(coef,cor)
S3method(summary,randomcif)
S3method(coef,randomcif)
export("summary.cor")
export("coef.cor")
export("print.cor")
export("print.randomcif")
export("summary.randomcif")
export("coef.randomcif")

