useDynLib(HaploSurvival)

import(survival, timereg)

export("haplo.match",
       "geno.setup",
       "haplo.surv",
       "haplo.cif",
       "haplomatch.cif",
       "haplo.freqs",
       "sim.donor")

S3method(print,geno.setup)
S3method(print,haplo.freqs)
S3method(summary,haplo.freqs)
S3method(summary,geno.setup)

export("print.geno.setup",
       "print.haplo.freqs",
       "summary.haplo.freqs",
       "summary.geno.setup"
)
